{% extends 'base.html.twig' %}

{% block title %}coffret vin blanc
{% endblock %}

{% block body %}

{% include('_partials/_header.html.twig') %}

	<h4>nos coffret de vins blancs</h4>

{% endblock %}
